@font-face {
    font-family:"CaviarDreams";
    src: url('../fonts/CaviarDreams/CaviarDreams.ttf');
}

@font-face {
    font-family:"CaviarDreams-Bold";
    src: url('../fonts/CaviarDreams/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family:"AkzidenzGroteskPro-Cn";
    src: url('../fonts/AkzidenzGroteskPro-Cn/11914.ttf');
}
@font-face {
    font-family:"Bauhaus_93";
    src: url('../fonts/Bauhaus 93/BAUHS93.ttf');
}
